
services:
  backend:
    build: ./backend
    container_name: backend_container
    ports:
      - "3000:3000"
    # volumes:
    #   - ./backend:/app
    command: npm start
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "5173:5173"
    # volumes:
    #   - ./frontend:/app
    command: npm run dev -- --host
